@{
    ViewData["Title"] = "PaddleBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="homeBody">
    <div class="about-me">
        <h4>About this Website...</h4>
        <p class="about-me-text">
            I created this website with the hope of increasing the availability of water data.The United States Geological Society operates over 2 million water data collection sites across the country, collecting data on everything from water temperature, pH, ppm particulate, to flow data. On this website I have compiled a list of classic kayaking runs throughout Washingtin and Oregon, and paired those runs with current flow information accurate to within 15 minutes of collection time. My hope is that the ease of access to this data will allow more informed decisions and increased exploration. Future versions of this site will hopefully include runs from all states, more user features, current news, and a robust community of like minded river users. Please enjoy!!
        </p>
    </div>
</body>
