@{
    ViewData["Title"] = "PaddleBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="homeBody">

</body>
@*<img id="homeImage" src="http://community.nrs.com/duct-tape/wp-content/uploads/2013/05/LWS2013-37.jpg"/>*@