<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/js/NavbarScript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARhB170H1_IihPz-E4A-7fIJ8Hpatt5gg&callback=initMap">
    </script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <ul id="dropdown1" class="dropdown-content">
            <li class="divider"></li>
            <li><a href="/RiverRun/">Rivers/Runs</a></li>
            <li><a href="#!">Gauges</a></li>
            <li><a href="#!">Other Category??</a></li>
        </ul>
        <div class="nav-wrapper black">
            <a href="/" class="brand-logo">Paddlers Notebook</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a data-beloworigin="true" class="dropdown-button" href="#!" data-activates="dropdown1">Rivers<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/Account/Login">Login</a></li>
                <li><i class="material-icons"><a style="font-size:2rem" href="/Account/Register">person_add</a></i></li>
                @if (User.IsInRole("Admin"))
                {
                <li><i class="material-icons"><a style="font-size:2rem" href="/Roles">supervisor_account</a></i></li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>