<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    
    <script src="~/js/NavbarScript.js"></script>
    
   
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        
        <ul id="dropdown1" class="dropdown-content">
            <li class="divider"></li>
            <li><a href="/RiverRun/">Rivers/Runs</a></li>
            <li><a href="#!">Gauges</a></li>
            <li><a href="#!">Other Category??</a></li>
        </ul>

        <ul id="dropdown2" class="dropdown-content">
            <li class="divider"></li>
            @if (!User.Identity.IsAuthenticated)
            {
            <li>
                <a class="fa fa-arrow-circle-right" style="font-size:2rem" aria-hidden="true" href="/Account/Login"></a>
            </li>
            }
            else {
            <li>
                <a class="fa fa-user-times" style="font-size:2rem" href="/Account/LogOff"></a>
                @*@using (Html.BeginForm("LogOff", "Account"))
                {
                    <input type="submit" style="width:100%;" class="btn btn-default" value="Log out" />
                }*@
            </li>

            }
            
            <li><a class="fa fa-user-plus" aria-hidden="true" style="font-size:2rem" href="/Account/Register"></a></i></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a class="fa fa-users" aria-hidden="true" style="font-size:2rem" href="/Admin"></a></li>
            }
        </ul>
        <ul id="dropdown3" class="dropdown-content">
            <li class="divider"></li>
            <li><a href="/RiverRun/">Rivers/Runs</a></li>
            <li><a href="#!">Gauges</a></li>
            <li><a href="#!">Other Category??</a></li>
        </ul>

        <ul id="dropdown4" class="dropdown-content">
            <li class="divider"></li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    <a class="fa fa-arrow-circle-right" aria-hidden="true" href="/Account/Login"></a>
                </li>
            }
            else
            {
                <li>                    
                    <a class="fa fa-user-times" style="font-size:2rem" href="/Account/LogOff"></a>
                </li>
            }
            <li><a class="fa fa-user-plus" aria-hidden="true" style="font-size:2rem" href="/Account/Register"></a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a class="fa fa-users" aria-hidden="true" style="font-size:2rem" href="/Admin"></a></li>
            }
        </ul>

        <div class="nav-wrapper black">
            <a href="/" class="brand-logo">PaddleBook</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a data-beloworigin="true" class="dropdown-button" href="#!" data-activates="dropdown1">Rivers<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li>
                    <a data-beloworigin="true" class="dropdown-button" href="#!" data-activates="dropdown2">Users<i class="material-icons right">arrow_drop_down</i></a>
                </li>               
            </ul>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a data-beloworigin="true" class="dropdown-button" href="#!" data-activates="dropdown3">Rivers<i class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li>
                    <a data-beloworigin="true" class="dropdown-button" href="#!" data-activates="dropdown4">Users<i class="material-icons right">arrow_drop_down</i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>