@{
    ViewData["Title"] = "Manage User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PaddlersParadise.Models.RiverRun
<h3>Details Page</h3>

@{
    var riverSection = @Model.river_section;
    var section = riverSection.Split(']');
    var sectionString = section[1];

}
<div class="contianer">
    <h4>@sectionString</h4>
</div>