@{
    ViewData["Title"] = "Manage User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<PaddlersParadise.Models.ApplicationUser>


@foreach(var user in Model)
{
    <p>@user.UserName</p>

}
<h1>Account Index</h1>