@{
    ViewData["Title"] = "Manage User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PaddlersParadise.ViewModels
@model LoginViewModel

<div class="row">
    <div class="col m4">
        <h3>Log In</h3>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)

            <input type="submit" value="Log in" class="btn btn-default" />
        }
    </div>
    <div class="col m2"></div>
    <div class="col m4">
        <h3>Need an Account?</h3>
        <a class="btn" href="/Account/Register">Register Here</a>
    </div>
</div>